<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # kalau file atau folder tidak ditemukan → arahkan ke index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# optional: custom 404
ErrorDocument 404 /404.html